/*
Theme Name: Gentlecut Child Theme
Theme URI: https://themeforest.net/user/dropletthemes
Author: Ajmal Khan
Author URI: https://dropletthemes.com
Description: Child Theme for Gentlecut - Barbershop and Hairdressers WordPress Theme
Template: gentlecut
Version: 6.6
*/

div.home-background-image::before{
	content: " ";
  	display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0, 0, 0, 0.5);
}

div.services .vc_column-inner{
	border-top-width: 3px !important;
	border-right-width: 3px !important;
	border-bottom-width: 3px !important;
	border-left-width: 3px !important;
	padding-top: 40px !important;
	padding-right: 30px !important;
	padding-bottom: 30px !important;
	padding-left: 30px !important;
	background-color: rgba(37,37,37,0.8) !important;
	border-left-style: solid !important;
	border-right-style: solid !important;
	border-top-style: solid !important;
	border-bottom-style: solid !important;
	border-radius: 10px !important;
	border-color: #bf9456 !important;
}

div.services .vc_column_container{
	padding: 0 7.5px 0 7.5px;
}

div.services .vc_column-inner .wpb_single_image{
	margin-bottom: 20px;
}

div.services .vc_column-inner  .wpb_text_column{
	margin-bottom: 0;
}

div.services .vc_column-inner h3{
	text-align: center;
	color: #ffffff;
}

body .reservation-form input[type="date"]{
	max-height: 50px !important;
}

body .reservation-form span.icon.icon-Message {
	top: 29% !important;
}

body .special-heading img {
	height: 100px;
	margin: 0;
}

body .fancybox-title-float-wrap .child{
	display: none;
}

div.process-page-background:before{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: .6;
	display: block;
}